<p style="color: green"><%= notice %></p>

<div id="spots">
  <% @spots.each do |spot| %>
    <%= render spot %>
    <p>
      <%= link_to "Show", spot %>
    </p>
  <% end %>
</div>

<%= link_to "New Spot", new_spot_path %