<div id="spots">
  <% @spots.each do |spot| %>
    <p>
      <strong>
        <%= link_to spot.name, spot %>
      </strong><br>
      Created: <%= time_tag spot.created_at, "data-local": "time-ago"%>
    </p>
  <% end %>
</div>