<%= render @spot %>
<% if user_signed_in? %>
  <div>
    <%= link_to "Edit", edit_spot_path(@spot) %> |
    <%= link_to "Delete", spot_path(@spot), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  </div>
<% end %>