<p>
  Wingbuddies ist eine interaktive Plattform für Wingfoiler. Im Zentrum der Plattform steht der
  Sessionplaner, mit dem Du öffentliche oder nur Deinem Freundeskreis sichtbare Sessions
  planen kannst. Öffentlichen Sessions kann jeder, Freundeskreis-Sessions nur Deine Freunde beitreten.
</p>