<aside class="sidebar">
  <% if user_signed_in? %>
    <%= render "form", session: Session.new(when: Date.today) %>
  <% else %>
    <%= render "about" %>
  <% end %>
</aside>
<h4><mark>Sessions</mark></h4>
<% @sessions.each do |session| %>
  <%= render "session", session: session %>
<% end %>
<%== pagy_nav(@pagy) if @pagy.pages > 1 %>
