<p style="color: green"><%= notice %></p>
<div id="sessions">
  <% @sessions.each do |session| %>
    <p>
      <strong>
        <%= link_to session.sport + " in " + session.spot.name, session %>
      </strong><br>
      Surfer: Ralf<br>
      Friends: Carsten, Christian<br>
      When:
      <%= time_tag session.when %>
    </p>
  <% end %>
</div>
<%= link_to "New Session", new_session_path %>