<%= render @session %>
<% if user_signed_in? %>
  <div>
    <%= link_to "Edit", edit_session_path(@session) %> |
    <%= link_to "Delete", session_path(@session), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  </div>
<% end %>
