<div class="flex-container">
  <div class="flex-item">
    <h3>Friends</h3>
    <% @friendships.each do |friendship| %>
      <p>
      <strong><%= friendship.friend.name %></strong>
      <%= link_to "Uninvite", friend_path(friendship), data: { turbo_method: :delete } %>
    <% end %>
    </p>
  </div>
  <div class="flex-item">
    <h3>Not yet Friends</h3>
    <% @users.each do |user| %>
      <p>
        <strong><%= user.name %></strong>
        <%= link_to "Invite", friends_path(id: user.id), data: { turbo_method: :post } %>
      </p>
    <% end %>
  </div>
</div>