<div id="friends" class="columns">
  <div class="column">
    <h2 class="subtitle">Friends</h2>
    <% @friendships.each do |friendship| %>
      <span class="columns">
        <div class="column">
          <strong><%= friendship.friend.name %></strong>
        </div>
        <div class="column">
          <%= link_to "Uninvite", friend_path(friendship), data: { turbo_method: :delete } %>
        </div>
      </span>
    <% end %>
  </div>
  <div class="column">
    <h2 class="subtitle">Not yet Friends:</h2>
    <% @users.each do |user| %>
      <div class="columns">
        <div class="column">
          <strong><%= user.name %></strong>
        </div>
        <div class="column">
          <%= link_to "Invite", friends_path(id: user.id), data: { turbo_method: :post } %>
        </div>
      </div>
    <% end %>
  </div>
</div>