<h2>Planen, Tracken, Kennenlernen</h2>
<p>
  Wingbuddies ist eine interaktive Plattform für Wingfoiler. lernen sich kennen, tauschen sich aus und
  verabreden gemeinsame Sessions.
</p>
<p>
  Im Zentrum der Plattform steht der Sessionplaner: Ich plane heute nachmittag nach Heiligenhafen zu fahren und stelle
  die geplante Session mit Ort und Zeit ein. Ich entscheide, ob die Session privat, nur meinem Freundeskreis oder
  öffentlich sichtbar ist. Öffentlichen und Freundeskreis-Sessions kann beigetreten werden. Auf diese Art kann ich
  entweder eine Session im Freundskreis oder öffentlich planen, so dass ich hoffentlich nicht alleine am Spot bin.
  Gerade im Winter ist diese Funktion wichtig, da man nicht alleine sein will, aber auch nicht so genau weiss, wer wohin
  fährt.
</p>
<p>
  Landingpage: Die Startseite enthält eine nach Zeit geordnete Liste mit öffentlichen Sessions. Angemeldete User sehen
  zusätzlich private und Freundeskreis-Sessions.
</p>
