<h1 class="title">Willkommen bei Wingbuddies.de</h1>
<h2 class="subtitle">Planen, Tracken, Kennenlernen</h2>
<p>
  Wingbuddies ist eine interaktive Plattform für Wingfoiler. Im Zentrum der Plattform steht der
  <a href="/sessions/">Sessionplaner</a>, mit dem Du öffentliche oder nur Deinem Freundeskreis sichtbare Sessions
  planen kannst. Öffentlichen Sessions kann jeder, Freundeskreis-Sessions nur Deine Freunde beitreten.
</p>
<p>
  Sessions können mit der Apple Watch-App getracked und von dort aufs iPhone geladen werden. Die iPhone-App
  erlaubt den Upload getrackter Sessions ins Web. Aufgezeichnete Sessions werden mit geplanten Session verbunden.
</p>